@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    margin: 0;
    background-image: url('https://i.imgur.com/keBOgeo.jpg');
    font-family: 'Karla', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
}

nav > a {
    font-family: 'Mukta', sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: white;
}

nav > a:hover {
    font-size: 36px;
    transition: all 500ms;
}

.heading {
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

#main {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-height: 80%;
    padding: 10px;
    border-radius: 10px;
    background: rgba(200, 200, 200, .7);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    overflow-y: auto;
}

table {
    table-layout: fixed;
    width: 45%;
    max-height: 80%;
    /* border: 2px solid black; */
}

img {
    border: 2px solid black;
    border-radius: 10px;
}

td > img {
    height: 100px;
}

td > h3 > a {
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
    color: black;
    font-weight: bold;
}

td > h3 > a:hover {
    color: white;
}

#name-form {
    text-align: right;
    width: 50%;
    font-size: 17.5px;
}

#entry-form {
    text-align: left;
    width: 45%;
}

.entry {
    width: 300px;
}